extends layouts/layout

block styles
  link(href="/styles/main.css" rel="stylesheet")

block content
  .home-page
    include components/logo
    include components/nav

    h2 Hi, #{name.split(" ")[0]}👋
    i Company listings for you to check out 👇

    if jobListings
      include components/job_list.pug
    else
      p.no-jobs Oops! Looks like we have run out of jobs to show you.