.home-page {
  height: 90vh;
  overflow-y: scroll;
  padding: 2em;
}

.home-page > .logo {
  margin-bottom: 1em;
  text-align: center;
}

.home-page > h2 {
  margin-bottom: 0.8em;
}

ul {
  list-style: none;
}

ul > li {
  margin: 1.5em 0;
}

.ctn {
  border: 1px solid #888;
  border-radius: 6px;
  padding: 1em;
}

.ctn > h4 {
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;
}

.ctn > p {
  margin: 0.8em 0;
}

.ctn b::before {
  content: " ";
}
